# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Environment variables
.env

# IDE / OS
.DS_Store
.idea/
.vscode/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Database data
pgdata/
